<!DOCTYPE html>
<html class="no-js" lang="en-US">
	
	<head>
		
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Title -->
		<title>Hashtag - Holidays</title>

		<!-- Favicon -->
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		
		<!-- Google web font -->
		<link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700')}}">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{asset('resources/js/library/bootstrap/css/bootstrap.min.css')}}" />
		
		<!-- Font awesome -->
		<link rel="stylesheet" href="{{asset('resources/js/library/fontawesome/css/all.min.css')}}" >
		
		<!-- Linea icons -->
		<link href="{{asset('resources/library/js/linea/arrows/styles.css')}}" rel="stylesheet" />
		<link rel="stylesheet" href="{{asset('resources/js/library/linea/basic/styles.css')}}" />
		<link rel="stylesheet" href="{{asset('resources/js/library/linea/ecommerce/styles.css')}}" />
    <link rel="stylesheet" href="{{asset('resources/js/library/linea/software/styles.css')}}" />
    <link rel="stylesheet" href="{{asset('resources/js/library/linea/weather/styles.css')}}" />
		
		<!-- Animate -->
		<link rel="stylesheet" href="{{asset('resources/js/library/animate/animate.css')}}" />
		
		<!-- Lightcase -->
		<link rel="stylesheet" href="{{asset('resources/js/library/lightcase/css/lightcase.css')}}" />
		
		<!-- Swiper -->
		<link rel="stylesheet" href="{{asset('resources/js/library/swiper/swiper-bundle.min.css')}}" />
		
		<!-- Owl carousel -->
		<link rel="stylesheet" href="{{asset('resources/js/library/owlcarousel/owl.carousel.min.css')}}" />
		
		<!-- Slick carousel -->
		<link rel="stylesheet" type="text/css" href="{{asset('resources/js/library/slick/slick.css')}}" />
		
		<!-- Magnific popup -->
		<link rel="stylesheet" href="{{asset('resources/js/library/magnificpopup/magnific-popup.css')}}" />
		
		<!-- YTPlayer -->
		<link rel="stylesheet" href="{{asset('resources/js/library/ytplayer/css/jquery.mb.ytplayer.min.css')}}" />
		
		<!-- Stylesheet -->
		<link rel="stylesheet" href="{{asset('resources/css/style.css')}}" />
		<link rel="stylesheet" href="{{asset('resources/css/media.css')}}" />
		
		<!-- Color schema -->
		<link rel="stylesheet" href="{{asset('resources/colors/turquoise')}}" class="colors">
		
	</head>

	<body>

		<!-- Loader -->
		<div class="page-loader">
			<div class="progress"></div>
		</div>

		<!-- Header -->
		<header id="top-page" class="header">
			
			<!-- Main menu -->
			<div id="mainNav" class="main-menu-area animated">
				<div class="container">
					<div class="row align-items-center">
						
						<div class="col-12 col-lg-2 d-flex justify-content-between align-items-center">
							
							<!-- Logo -->
							<div class="logo">
								
								<a class="navbar-brand navbar-brand1" href="image.html">
									<img src="{{asset('resources/images/logohmobile.png')}}" alt="Hashtag" data-rjs="2" />
								</a>
								
								<a class="navbar-brand navbar-brand2" href="image.html">
									<img src="{{asset('resources/images/logoh.png')}}" alt="Hashtag" data-rjs="2" />
								</a>
							
							</div>
							
							<!-- Burger menu -->
							
							
						</div>
						
						<div class="op-mobile-menu col-lg-10 p-0 d-lg-flex align-items-center justify-content-end">
							
							<!-- Mobile menu -->
							<div class="m-menu-header d-flex justify-content-between align-items-center d-lg-none">
								
								<!-- Logo -->
								<a href="#" class="logo">
									<img src="{{asset('resources/images/logoh.png')}}" alt="Hashtag" data-rjs="2" />
								</a>
								
								<!-- Close button -->
								<span class="close-button"></span>
								
							</div>
							
							<!-- Items -->
							
							
						</div>
						
					</div>
				</div>
			</div>
			
		</header>
		
		<!-- Search wrapper -->
		

		<!-- Banner -->
		
		
        <!-- Contact -->
		<section id="contact">
			
			<!-- Container -->
			<div class="container">
				
				<!-- Section title -->
				
			
				<div class="row">
					
					<!-- Contact info -->
					<div class="contact-info col-12 col-lg-6 res-margin">
						
                        <h5>
                            <span class=""></span> 
                            
                        </h5>
                        <p>
                           
                        </p>
                        
                        <h5>
                            <span class="icon icon-basic-smartphone"></span> 
                            Phone Number
                        </h5>
                        <p><a href="tel:16175723012">+230 5256 3848</a></p>
                        
                        <h5>
                            <span class="icon icon-basic-mail"></span> 
                            Email Address
                        </h5>
                        <p>
                            <a href="mailto:email@sitename.com">resa@zilevasion.com</a>
                        </p>
                        
                        <h5>
                            <span class="icon icon-basic-clock"></span> 
                            Working Hours
                        </h5>
                        <p>
                            09:00AM to 06:00PM
                        </p>
                        
					</div>
					
					<!-- Contact form -->
					<div class="col-12 col-lg-6">
						
                        <form action="{{route('buyg')}}" method="post" enctype="multipart/form-data" csrf>{{ csrfField() }}
							<div class="box-text align-self-center align-self-md-start">
								<h4>Important</h4>
								<h6>000450614964 (MCB)</h6>
								<p>1- Utilisez ce numerea de compte ci dessus pour pour le payement</p>
								<p>2- envoyer votre preuve de payement</p>
								
								<p>3- Recevez votre ticket dans 15min max</p>
							</div>                                                   
                            <div class="row">
    <div class="input-group input-group-sm mb-3">
      <input type="text" name="nom" class="form-control" placeholder="Nom" required />
    </div>
    <div class="input-group input-group-sm mb-3">
      <input type="text" name="prenom" class="form-control" placeholder="Prénom" required />
    </div>
    <div class="input-group input-group-sm mb-3">
      <input type="text" name="numero" class="form-control" placeholder="Numéro WhatsApp" required />
    </div>
    <div class="input-group input-group-sm mb-3">
      <input type="email" name="email" class="form-control" placeholder="Email" required />
    </div>
    <div class="input-group input-group-sm mb-3">
      <input type="text" name="ticket_code" class="form-control" placeholder="Référence de paiement" required />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 mt-2 mb-3">
      <button type="submit" id="contact-submit" class="btn">Validez</button>
    </div>
  </div>
                            
                        </form>
                        
                        <!-- Submit Results -->
                        <div class="contact-form-result">
                            <h4>Thank you for the e-mail!</h4>
                            <p>Your message has already arrived! We'll contact you shortly.</p>
                        </div>
                        
					</div>
					
				</div>
				
			</div>
			
		</section>
        
        <!-- Footer -->
		<footer>
			
            
			<div class="footer-copyright">				
				<div class="container">
					
					<div class="row">						
						<div class="col-12">
							
							
                            <p class="copyright text-center">
                                Copyright © 2025 <a href="#" target="_blank">Hashtag Holidays</a>. All Rights Reserved.
                            </p>
							
						</div>
					</div>
					
				</div>				
			</div>
			
		</footer>
        
        <!-- Back to top -->
		<a href="#top-page" class="to-top">
			<div class="icon icon-arrows-up"></div>
		</a>

		<!-- jQuery -->
		<script src="{{asset('resources/js/library/jquery/jquery.js')}}"></script>
		<script src="{{asset('resources/js/library/jquery/jquery-easing.js')}}"></script>
		
		<!-- Bootstrap -->
		<script src="{{asset('resources/js/library/bootstrap/js/bootstrap.min.js')}}"></script>
		
		<!-- Plugins -->
		<script src="{{asset('resources/js/library/retina/retina.min.js')}}"></script>
		<script src="{{asset('resources/js/library/backstretch/jquery.backstretch.min.js')}}"></script>
		<script src="{{asset('resources/js/library/swiper/swiper-bundle.min.js')}}"></script>
		<script src="{{asset('resources/js/library/owlcarousel/owl.carousel.min.js')}}"></script>
		<script src="{{asset('resources/js/library/slick/slick.js')}}"></script>
		<script src="{{asset('resources/js/library/waypoints/jquery.waypoints.min.js')}}"></script>
		<script src="{{asset('resources/js/library/isotope/isotope.pkgd.min.js')}}"></script>
		<script src="{{asset('resources/js/library/waitforimages/jquery.waitforimages.min.js')}}"></script>
		<script src="{{asset('resources/js/library/lightcase/js/lightcase.js')}}"></script>
		<script src="{{asset('resources/js/library/wow/wow.min.js')}}"></script>
		<script src="{{asset('resources/js/library/parallax/jquery.parallax.min.js')}}"></script>
		<script src="{{asset('resources/js/library/counterup/jquery.counterup.min.js')}}"></script>
		<script src="{{asset('resources/js/library/magnificpopup/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{asset('resources/js/library/ytplayer/jquery.mb.ytplayer.min.js')}}"></script>
		
		<!-- Main -->
		<script src="{{asset('resources/js/main.js')}}"></script>

	</body>
	
</html>